<html>
<head>
    <title>С серьезным видом продаем несуществующий кофе</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <script>
            $(document).ready(function() {
                $('.return-coins-action').click(function(e) {
                    e.preventDefault();

                    $.get($(this).attr('href')).done(function(data) {
                        console.log(data);

                        if (data.success) {
                            $("#balance").html(data.balance);

                            $.each(data.returnedCoins, function (key, value) {
                                var $el = $("[data-coin-id=\"" + key + "\"] .coin-quantity");
                                $el.html(parseInt($el.html()) + value);
                            });
                        } else {
                            callModal(data.modal);
                        }

                        updateVMCoins();
                    });
                });

                $('.add-coin-action').click(function(e) {
                    e.preventDefault();
                    var $el = $(this);

                    $.get($el.attr('href')).done(function(data) {
                        console.log(data);

                        if (data.success) {
                            $("#balance").html(data.balance);
                            var $coinsQuantityEl = $el.parents("tr").find(".coin-quantity").first();
                            $coinsQuantityEl.html(parseInt($coinsQuantityEl.html()) - 1);
                        } else {
                            callModal(data.modal);
                        }

                        updateVMCoins();
                    });
                });

                $('.buy-product-action').click(function(e) {
                    e.preventDefault();
                    var $el = $(this);

                    $.get($el.attr('href')).done(function(data) {
                        console.log(data);

                        if (data.success) {
                            $("#balance").html(data.balance);
                            var $quantityEl = $el.siblings(".quantity").first();
                            $quantityEl.html(parseInt($quantityEl.html()) - 1);
                            callModal(data.modal);
                        } else {
                            callModal(data.modal);
                        }
                    });
                });

                callModal();
            });

            function updateVMCoins() {
                $.get("/vm-coins").done(function(data) {
                    $(".vm-coins").html(data.content);
                });
            }

            function callModal(html) {
                $("#modals").html(html);
                $(".modal").modal();

                $("[data-dismiss='modal']").click(function() {
                    $('.modal').modal('toggle');
                });
            }
        </script>

        <div id="modals">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {{ include("__modal.html.twig", {text: flash}) }}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-md-12">
            <div class="navbar navbar-default text-right" style="line-height: 50px; padding-right: 30px;">
                Внесенная сумма: <span id="balance">{{ balance }}</span> руб.
                <a href="{{ path('ecp_vm_default_returncoins') }}" class="btn btn-xs btn-info return-coins-action">Сдача</a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Товары</h2>
                <table class="col-md-6 table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                        <tr data-product-id="{{ product.id }}" data-stock="{{ product.stock }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }} руб.</td>
                            <td style="text-align: center;"><a href="{{ path('ecp_vm_default_buyproduct', {'productId': product.id}) }}" class="btn btn-xs btn-success buy-product-action">купить</a> <span class="quantity" style="padding-left: 5px; font-size: 12px; opacity: 0.3;">{{ product.stock }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h2>Кошелек</h2>
                <table class="col-md-6 table">
                    <thead>
                    <tr>
                        <th>Номинал</th>
                        <th>Кол-во</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in purse %}
                        <tr data-coin-id="{{ item.coin.denomination }}">
                            <td>{{ item.coin.denomination }} руб.</td>
                            <td class="coin-quantity">{{ item.quantity }}</td>
                            <td style="text-align: center;"><a href="{{ path('ecp_vm_default_addcoin', {denomination: item.coin.denomination}) }}" class="btn btn-xs btn-success add-coin-action">внести</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 vm-coins">
            {{ render(controller('ECP\\VMBundle\\Controller\\DefaultController::vmCoinsAction')) }}
        </div>
    </div>
</div>
</body>
</html>

