<div class="col-md-6" style="opacity: 0.2;">
    <h2>Монеты VM</h2>
    <table class="col-md-6 table vm-coins">
        <thead>
        <tr>
            <th>Номинал</th>
            <th>Кол-во</th>
        </tr>
        </thead>

        <tbody>
        {% for denomination, quantity in vmAvailableCoins %}
            <tr>
                <td>{{ denomination }} руб.</td>
                <td class="coin-quantity">{{ quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>